# ==========================================================
# 🔹 URL DO BACKEND
# ==========================================================
BACKEND_URL=http://localhost:8080

# ==========================================================
# 🔹 URL DO API URL
# ==========================================================
NEXT_PUBLIC_API_URL=/api

# ==========================================================
# 🔹 GOOGLE
# ==========================================================
NEXT_PUBLIC_LINK_PLANILHA_NOTINHAS=
GOOGLE_MAPS_KEY=
NEXT_PUBLIC_LINK_PLANILHA_LISTAS_MAIORES=