# ==============================
# 🔹 CONFIG. DE URLS
# ==============================
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8080

# ==============================
# 🔹 CONFIG. DE BANCO DE DADOS (MySQL local)
# ==============================
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLDATABASE=hortifruti_sl
MYSQLUSER=root
MYSQLPASSWORD=

# ==============================
# 🔹 CONFIG. DE AUTENTICAÇÃO
# ==============================
JWT_SECRET=
API_SCHEDULER_TOKEN=

# ==============================
# 🔹 CONFIG. DE GOOGLE
# ==============================
CREDENTIALS_GOOGLE=
GOOGLE_DRIVE_CREDENTIALS=
GOOGLE_REDIRECT_URI=

# ==============================
# 🔹 CONFIG. DE SICOOB
# ==============================
SICOOB_CLIENT_ID=
SICOOB_API_URL=
SICOOB_AUTH_URL=
SICOOB_SCOPE=
SICOOB_NUM_CLIENTE=
SICOOB_NUM_CONTA_CORRENTE=
SICOOB_DOMAIN=

# Certificado (.pfx)
DOCUMENT_PFX=
PASSWORD_PFX=

# ==============================
# 🔹 CONFIG. DE OPENWEATHER
# ==============================
API_TOKEN=
API_URL=

# ==============================
# 🔹 CONFIG. DE FOCUS NFE
# ==============================
FOCUS_NFE_TOKEN=
FOCUS_NFE_API_URL=
FOCUS_NFE_CNPJ_EMITENTE=

COMPANY_NAME=
COMPANY_STATE_REGISTRATION=
COMPANY_CNPJ=

# ==============================
# 🔹 CONFIG. DE NOTIFICAÇÃO
# ==============================
ULTRAMSG_TOKEN=
ULTRAMSG_INSTANCE_ID=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

ACCOUNTING_EMAIL=
ACCOUNTING_WHATSAPP=

OVERDUE_NOTIFICATION_EMAILS=
